<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Memory</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet"> 
</head>
<body>
    <div id="app">
        <div v-show="fase == 1" class="container">
            <div class="row">
                <h1>Cuántas palabras deseas recordar?</h1>
            </div>
            <div class="row">
                <div class="col align-self-center" width="50%">
                    <input type="number" step="1" min="1" class="form-control myInput" v-model="numberOfWords">
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center">
                    <button id="save" class="btn btn-primary myInput" @click="updateFase">Guardar</button>
                </div>
            </div>
        </div>
        <div class="container" v-show="fase == 2">
            <div class="row">
                <div class="col align-self-center word">
                    <h2>{{currentWord}}</h2>
                </div>
            </div>
            <div class="row divButtons">
                    <button class="col btn btn-primary myButtons myBtn" id="cancelWordButton" @click="otherWord">Otra</button>
                    <button class="col btn btn-primary myBtn" id="saveWordButton" @click="saveWord">Recordar</button>
            </div>
        </div>
        <div v-show="fase == 3" id="divFase3">
            <ol class="container myResult">
                <li v-for="(word, index) in words" class="row">
                    <h6 class="col">{{index + 1}} .</h6>
                    <input type="text" class="form-control myInput" v-model="answers[index]" class="col">
                    <h6 v-show="correctAnswer" class="col">{{words[index]}}</h6>
                </li>
            </ol>
            <div class="compareButton">
                <button class="btn btn-primary" @click="compare">Comparar</button>
            </div>
        </div>
        <div>
            <h3 id="labelX">
                Etiqueta X
            </h3>
            <input type="text" id="field" > 
        </div>
    </div>
</body>
<script>
    const moveValue = (e) => document.querySelector('#labelX').innerText = e.target.value; 

    document.querySelector('#field').addEventListener('change', moveValue); 
</script>
<script src="dictionary.js"></script>
<script src="app.js"></script>
</html>
